@page "{name}"
@model Canil.Pages.ProductModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "/Views/Shared/_LayoutLoja.cshtml";
}

<div>
    <p>@Model.Product.Name</p>
    <p>@Model.Product.Description</p>
    <p>@Model.Product.Value</p>
    <div>
        <form method="post">
            <label>Stock</label>
            <select asp-for="ProductTest.Id">
                @foreach (var s in Model.Product.Stock)
                {
                    <option value="@s.Id">@s.Description</option>
                }
            </select>
            <button class="submit">Submit</button>
        </form>
    </div>
</div>
